* {
  margin: 0;
  padding: 0;
  font-family: 'S-CoreDream-3Light';
}

html { scroll-behavior: smooth; }

body {
  background-color: rgb(18, 26, 36);
}

.page-box {
  height: 1280px;
  
}

.text-wrap {
  text-align: center;
  margin: 0 auto;
}

.sm-text {
  display: block;
  margin-top: 20px;
  color: rgb(61, 79, 100);
}

#input-name {
  border-bottom: #fff 15px;
}

#HBD-text {
  font-size: 1.7em;
  margin-top: 410px;
  color: #fff;
  position: relative;
  display: inline-block;
}

/* after : 가상 요소 적용 */
#HBD-text::after { 
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 3px;
  height: 100%;
  background-color: #fff;
}

#HBD-text.remove::after {
  display: none;
}
