* {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 25, 44);
}

body::-webkit-scrollbar {
  display: none;
}

.pages.remove-page::after {
  display : none;
}


/* ===================================== title   */

.text-wrap {
  display: flex;
  justify-content: center;
}

#HBD-text {
  display: inline-block;
  margin-top: 30vh;
  margin-bottom: 120px;
  font-size: 1.7em;
  color: #fff;
  position: relative;
}

#HBD-text::after { 
  width: 3px; height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0; right: -10px;
  background-color: #fff;
}

#HBD-text.remove::after {
  display: none;
}


/* =========================================== cake   */

.cake-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 50px;
  position: relative;
}


/* ============================================ candle   */

#candle {
  cursor: pointer;
  margin-bottom: 16px;
}

.light {
  position: absolute;
  top: -10%; left: 50%;
  border-radius: 100%;
  box-shadow:0 0 38px 20px rgba(255, 253, 231, 0.2);
  animation: backLight 0.8s infinite alternate;
  animation-timing-function: ease-in;
}

.light:nth-child(2){
  position: absolute;
  left: 50%;
  box-shadow: 0 0 20px 0px rgb(255, 222, 75);
}

.light:nth-child(3){
  border-top: 30px solid;
  margin: -15px 0px 0px -5px;
  animation: bigCandle 3s infinite alternate;
  animation-timing-function: ease-in;
}

.light:nth-child(4){
  animation: ;
}

.light:nth-child(5){
  animation: ;
}

#candle-body {
  margin: 0 auto;
  width: 8px;
  height: 36px;
  border-radius: 2px;
  background-color: rgb(253, 167, 200);
}


/* ============================================== Candle Animation */

@keyframes backLight {
  0% {
    box-shadow: 0 0 35px 20px rgba(255, 248, 210, 0.2);
  }
}

@keyframes bigCandle {
  0% {
    border-top: 30px solid; border-right: 10px solid rgb(255, 243, 190)
  }
  50% {
    border-top: 30px solid; border-right: 10px solid rgb(255, 231, 98)
  }
  100% {
    border-top: 30px solid; border-right: 10px solid rgb(255, 161, 84)
  }
}


/* ==================================== chiffons */

#cream {
  width: 160px;
  height: 24px;
  background:#fff;
  border-radius: 16px 16px 10px 10px;
  position: absolute;
  top:18%;
  animation: cream 1s;
}

#cream:after,
#cream:before {
  /* display: none; */
  width: 12px;
  height: 32px;
  content: "";
  background:#fff;
  position:absolute;
  border-radius: 100px;
  animation: creams 1s;
}

#cream::after {
  top: 50%;
  left: 20%;
}

#cream:before {
  top: 80%;
  left: 80%;
}

.chiffon {
  width: 160px; height: 20px;
  background-color: rgba(236,231,227,1);
  border-radius: 5px;
  animation-name: chiffon;
}

.chiffon:nth-child(2) {
  animation: chiffon 1s;
}

.chiffon:nth-child(3) {
  animation: chiffon 1s;
}

.chiffon:nth-child(4) {
  animation: chiffon 1s;
}

.chiffon:nth-child(5) {
  animation: chiffon 1s;
}

.chiffon:nth-child(6) {
  animation: chiffon 1s;
}

.chiffon:nth-of-type(2n-1) {
  height: 10px;
  border-radius: 3px;
  background-color: #fa6f9d;
}

#cake-bottom {
  width: 220px; height: 5px;
  position: absolute;
  top: 72%;
  background-color: #a8cce9;
  animation: cake-bottom 1s;
}

.cake-wrap.displayNone {
  display: none;
}


/* ============================== cake animation */

@keyframes cake-bottom {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* 각 쉬폰 하나씩 떨어지게 setTimer */
@keyframes chiffon {
  0% {
    transform: translateY(-800px) rotate(15deg);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px) rotate(3deg);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-10px) rotate(-3deg);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-5px) rotate(3deg);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(5px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px) rotate(-3deg);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes cream {
  0% {
    transform: translateY(-800px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
}

/* cream css 끝나면 실행되도록 함 */
@keyframes creams {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

/* =============================== click button */

#next-btn {
  width: 120px;
  height: 30px;
  margin-top: 20px;
  font-size: 0.9em;
  color: rgb(45, 61, 80);
  border: none;
  background-color: rgb(17, 25, 44);
  transition: all 0.4s;
  animation: fadeIn 10s;
}

#next-btn:hover {
  color: rgb(102, 128, 158);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}



 